body{
    background-color: #8BA1BB;
    font-family: Arial;
}
h1{
    background-color: black;
    color: white;
    display:inline-block;
    margin: 0px;
    padding: 14px;
}
div.contener{
    background-color: white;
    margin: 0px 10% 80px 10%;
    padding: 30px;
}
h2,td{
    text-align: center;
}

p.description{
    text-align: center;
    max-width: 500px;
    display: inline-block;
}
div.description{
    text-align: center;
    margin: 0;
}
div.categorie{
    text-align: center;
    margin-bottom: -30px;        
}

div.separateur{
    border: 1px solid;
    color: black;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.img{
    width: 100%;
    display: block;
    object-fit: cover;
    max-height: 400px;
    min-height: 200px;
    background-color: #8BA1BB;
}

div.superpose{
    position: relative;
}

table{
    position: absolute;
    bottom: 0;
    width: 100%;
    color:white;
    background-color: #6C829Dc0;
}